@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;900&display=swap');

body {
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #E0EDFE;
  color: #25657E;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Onest',sans-serif;
}

.hero h2 {
  margin: 0 auto;
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
}

.text-bd-image {
  background-image: url(bd.avif);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #ffffff;
  animation: animate-bd 30S ease infinite;
}


@keyframes animate-bd {
  0% {
    background-position: center 25%;
  }
  50% {
    background-position: center 50%;
  }
  100% {
    background-position: center 25%;
  }
}